fastapi
uvicorn[standard]
sqlalchemy
pyodbc
motor
pydantic
pydantic-settings
python-dotenv
passlib>=1.7.4
python-jose[cryptography]
email-validator
requests
numpy==1.26.4
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu
beautifulsoup4
aiohttp
pyzbar
Pillow
google-generativeai
apscheduler==3.10.4
opencv-python
opencv-python-headless
sentence-transformers
python-multipart
